.crop {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  flex: 0 0 42px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: -34px;
  left: -34px;
  display: block;
  width: 108px;
  max-width: none;
  height: 108px;
}
